*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    /* --- Default Page Font --- */
    font-family: 'Gilroy';


    /* --- Background Image Properties --- */
    background-color: #262626;

    background-size: cover;
    background-image: url("source/images/Gradient Bokeh.png");
    background-repeat: no-repeat;


    /* --- Hide & Disable Scrolling --- */
    overflow-x: hidden;


    /* --- Disable Selecting & Copying --- */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face 
{
    font-family: 'Gilroy-Light';
    src: url(source/fonts/Gilroy-Light.otf);
}
@font-face 
{
    font-family: 'Gilroy-Bold';
    src: url(source/fonts/Gilroy-Bold.otf);
}


/*  -------------------- Scrollbar Properties -------------------- */


body::-webkit-scrollbar
{
    width: 5px;
}
body::-webkit-scrollbar-track
{
    background-color: none;
}
body::-webkit-scrollbar-thumb
{
    background-color: #F3F3F3;
}


/*  -------------------- Container Section -------------------- */


/* Global Container Properties */
.Container_Positioning
{
    width: 50%;

    margin-top: 6%;
    margin-bottom: 6%;

    margin-left: auto;
    margin-right: auto;
}


/* Linktree Container Properties */
.Container_Linktree
{
    width: 400px;

    margin-left: auto;
    margin-right: auto;

    background-color: white;
    box-shadow: 0px 0px 8px #666666;
}


/*  -------------------- Profile Section -------------------- */


/* Profile Container Properties */
.Section_Profile
{
    height: 300px;
    background-color: #F3F3F3;
}


.Container_Profile
{
    padding: 6%;
}


.Container_Profile_Image
{
    max-height: 200px;
    max-width: 200px;

    margin-left: auto;
    margin-right: auto;
}
#Image
{
    width: 100%;
    height: 100%;
}


.Container_Name
{
    width: 100%;
    height: 50px;
}
#Name
{
    color: black;
    font-size: 20px;
    font-family: 'Gilroy-Bold';

    text-align: center;

    padding-top: 12px;
}


/*  -------------------- Buttons Section -------------------- */


/* Section Container Properties */
.Section_Buttons
{
    background-color: #e0e0e0;
}


/*  Buttons Properties  */
.Buttons
{
    color: white;
    font-size: 14px;
    font-family: 'Gilroy-Light';

    width: 100%;
    height: 100px;

    border: none;
    border-top: 1px solid #4d4d4d;

    background-color: #262626;
}
.Buttons:hover
{
    cursor: pointer;
    font-family: 'Gilroy-Bold';
}


/*  Individual Buttons Color  */
#YouTube:hover
{
    transition: 0.2s;
    background-color: #FF0000;
}
#Facebook:hover
{
    transition: 0.2s;
    background-color: #1877F2;
}
#Instagram:hover
{
    transition: 0.2s;
    background-color: #fa4599;
}
#Twitter:hover
{
    transition: 0.2s;
    background-color: #1DA1F2;
}
#Reddit:hover
{
    transition: 0.2s;
    background-color: #FF4503;
}
#TikTok:hover
{
    color: black;
    transition: 0.2s;
    background-color: white;
}