*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    overflow: hidden;
    background-color: #262626;
    font-family: 'Gilroy';

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face 
{
    font-family: 'Gilroy-Light';
    src: url(source/fonts/Gilroy-Light.otf);
}
@font-face 
{
    font-family: 'Gilroy-Bold';
    src: url(source/fonts/Gilroy-Bold.otf);
}


/*  -------------------- Container Section -------------------- */


/* Global Container Properties */
.Container_Global
{
    width: 50%;

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
}


/* Linktree Container Properties */
.Container_Linktree
{
    max-width: 400px;

    margin-left: auto;
    margin-right: auto;

    background-color: white;
}


/*  -------------------- Profile Section -------------------- */


/* Profile Container Properties */
.Section_Profile
{
    width: 100%;
    height: 250px;

    padding: 20px;

    background-color: #F3F3F3;
}


.Container_Profile_Image
{
    max-height: 128px;
    max-width: 128px;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50%;

    background-color: #E6E6E6;
}


#Image
{
    width: 100%;
    height: 100%;
}


.Container_Name
{
    width: 100%;
    height: 50px;

    margin-top: 15px;
}


#Name
{
    color: black;
    font-size: 20px;
    font-family: 'Gilroy-Bold';

    text-align: center;

    padding-top: 12px;
}


/*  -------------------- Buttons Section -------------------- */


/* Section Container Properties */
.Section_Content
{
    background-color: #dadada;
}


/*  Buttons Container Properties  */
.Container_Buttons
{
    padding: 25px;
}


/*  Buttons Properties  */
.Buttons
{
    color: black;
    font-size: 14px;
    font-family: 'Gilroy-Light';

    width: 100%;
    height: 35px;

    border: none;
    border-radius: 4px;

    margin-top: 8px;
    margin-bottom: 8px;

    background-color: #F3F3F3;
}
.Buttons:hover
{
    color: white;
    font-family: 'Gilroy-Bold';
    cursor: pointer;
}


/*  Individual Buttons Color  */
#YouTube:hover
{
    background-color: #FF0000;
}
#Facebook:hover
{
    background-color: #1877F2;
}
#Instagram:hover
{
    background-color: #e940b6;
}
#Twitter:hover
{
    background-color: #1DA1F2;
}
#Reddit:hover
{
    background-color: #FF4503;
}
#GitHub:hover
{
    background-color: #1B1F23;
}